@import "secundarios/variables";
@import "secundarios/nosotros";


/*ESTILOS DEL BODY*/
  body{
    background-image: url(../Img/PruebaFondo1.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding: 0.5%;
    margin: 0.5%;
    
    
  }
 
  .grid-container {
    display: grid;
    border: 300px, solid red;
    grid-template-rows: repeat(4,150px);
    grid-template-columns: repeat(4, 20px);
  }
  .grid-item{
    border: 3px, solid pink;
  }
  
  /**ESTILOS SECCION NAV*/
  header{

     display: flex;
     justify-content: space-between; 
     align-items: center;
     background-color: black; 
     img{ padding: 0.5%;}
     .logo-principal{
            height: 9%;
            width: 10%;
            border-radius:5%;
            display: flex; 
        } 
     nav{
           ul{
              display:  flex;
              font-style: italic;
              gap: 3px;
              font-size:x-small;
              li{
                  border: solid white;
                  padding: 10px;
                  a{
                        color: $color-titulos;
                        background-color: black;
                        text-align: center;
                        text-decoration: none;
                        display: flex;
                        a:hover{
                             color: white;
                            }
                    }
                }
            }
       }
  }

 
/*SECCION PIE DE PAGINA*/
  footer{
    padding: 0.5%;
        h2{
            font-family: arial, helvetica; 
            color:$color-titulos;
            font-size: large; 
            background-color: black;
            text-align: center;
            }
        .div-wha{
            display: flex;
            align-items: center;
       
                .wha{
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                }
                a{
                    color: black;
                    background-color: $colores-etiquetas-a;
                    padding: 5px;
                    margin: 5px;
                    border: 1px solid black;
                    font-family:impact;
                    font-size: x-small;
                }
            }
         .div-face{
             display: flex;
             align-items: center;
                .face{
                    height: 50px;
                    width: 50px; 
                    border-radius: 50%;
                }
                a{
                    color:black;
                    background-color: $colores-etiquetas-a;
                    padding: 5px;
                    margin: 5px;
                    border: 1px solid black;
                    font-family:impact;
                    font-size: x-small;
                }
        
            }
         .div-insta{
             display: flex;
             align-items: center;
                .insta{
                 height: 50px;
                 width: 50px;
                 border-radius: 50%;
                }
                a{
                    color:black;
                    background-color: $colores-etiquetas-a;
                    padding: 5px;
                    margin: 5px;
                    border: 1px solid black;
                    font-family:impact;
                    font-size: x-small;
                }
            }
   
  }
  /*SECCION PROVEEDORES*/
  .provedores {
    padding:0.5%;
    img{
        display: block;
        border-radius: 5%;
        width: 40%;
        height: 60%;
        
    }
    
    h2{
        font-family: arial, helvetica; 
         color:$color-titulos;
        font-size: large; 
        background-color: #404040;
        text-align: center;
        
    }
    .presentacion-provedores{
        font-family: arial, helvetica; 
        color: white;
        font-size:x-large;
        text-align: justify;
        background-color:#666666;
        opacity: 90%;
        padding: 1%;
        border-radius: 3%;
    }
        
        h4{color: #D7DF01;;
        font-size: large;
        font-family: arial, helvetica; 
        display: inline;
        background-color:black;

    }
    a{
    color:black;
        background-color: $colores-etiquetas-a;
        padding: 5px;
        margin: 5px;
        border: 1px solid black;
        font-family:impact;
        font-size: x-small;
    }
  }


  /*SECCION SERVICIOS*/
.seccion-servicios {
   padding: 0.5%;
    p{
        font-family: arial, helvetica; 
        color: white;
        font-size:x-large;
        text-align: justify;
        background-color:#666666;
        opacity: 90%;
        padding: 1%;
        border-radius: 3%;
    }
    h2{
        font-family: arial, helvetica; 
        color:$color-titulos;
        font-size: large; 
        background-color: #404040;
        text-align: center;
        
    }


    
}

/*SECCION CLIENTES*/
.seccion-clientes {
 padding: 0.5%;
 h2{
    font-family: arial, helvetica; 
    color:$color-titulos;
    font-size: large; 
    background-color: #404040;
    text-align: center;
    
    }
 h3{
    color: $color-titulos;
    text-align: center;
    text-decoration: underline;
    background-color: #666666;
    opacity: 90%;
   

 }
 p{
    font-family: arial, helvetica; 
    color: white;
    font-size:x-large;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color:#666666;
    opacity: 90%;
    padding: 1%;
    border-radius: 3%;

}
}
.seccion-proyectos{
    .proyectos{
    color: #D7DF01;
    font-size: large;
    font-family: arial, helvetica; 
    background-color:black;

    }
}


/*MEDIA QERY TABLET*/
@media screen and  (min-width: 600px ){
   
    .clientes img{
        width: 60%;
        height: 50%;
        border-radius:10%;
        flex-wrap: wrap;
         }
   
}
/*MEDIA QERY DESKTOP*/
@media screen and (min-width: 1024px) {
    .servicios{
       display: grid;
       grid-template-columns: repeat(3,1fr);
       grid-template-rows: repeat(2,auto);
       justify-content: center;
       align-items: center;
       
        
    }
    .seccion-servicios {
        width: 100%;  /*ancho y alto */
        height: 100%;
        border-radius:10%;
        padding: 10px 10px 10px 10px;
        margin-bottom: 2rem;    
    }
    

    .clientes{
        display: grid;
        grid-template-columns: repeat(2,1fr);  
        img{
            width: 100%;  /*ancho y alto */
            height: 100%;
            border-radius:10%;
            margin-bottom: 2rem;
        }     
    }
}