/*RESET UNIVERSAL*/
*{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*ESTILOS DEL BODY*/
body{
    background-image: url(./Img/fondo1prueba.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.grid-container {
    display: grid;
    border: 300px, solid red;
    grid-template-rows: repeat(4,150px);
    grid-template-columns: repeat(4, 20px);
}
.grid-item{
    border: 3px, solid pink;
}
/**ESTILOS SECCION NAV*/
.logo-principal{
    height: 9%;
    width: 10%;
    border-radius:5%;
    display: flex;
    
} 
header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: black; 
}


header nav ul {
   display:  flex;
   font-style: italic;
   gap: 3px;
   font-size:x-small;
   
}
ul li{
    border: solid white;
    padding: 10px;
}

a{
    color: yellow;
   background-color: black;
   text-align: center;
   text-decoration: none;
   display: flex;
 

}
a:hover{
    color: white;
}



/*SECCION NOSOTROS*/
#nosotros{
    font-family: arial, helvetica; 
    color: white;
    font-size:x-large;
    text-align: center;
}

.seccion-nosotros h1{
    display: flex;
    justify-content: center;
    color: yellow;
    font-size:x-large;
    text-decoration: underline;
}

h2{
    font-family: arial, helvetica; 
    color:yellow;
    font-size: large; 
    background-color: black;
    text-align: center;
    

}

section div {
    display: flex;
    padding: 30px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}
section div img{
    width:40%;
    border-radius: 10px;
}
section div p {
    width: 600px;
    padding: 20px;
    line-height: 40px;
    text-align: center;
}
/*SECCION SERVICIOS*/
.seccion-servicios p {
    font-family: arial, helvetica; 
    color: white;
    font-size:x-large;
    text-align: center;
}


/*SECCION PIE DE PAGINA*/
.wha{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
}
.div-wha{
    display: flex;
   align-items: center;
   color: white;
}

.face{
    height: 50px;
    width: 50px; 
    border-radius: 50%;
}
.div-face{
    display: flex;
    align-items: center;
 }


.insta{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.div-insta{
    display: flex;
 align-items: center;
}


/*SECCION CLIENTES*/
.clientes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.seccion-clientes h3{
    color: yellow;
    text-align: center;
    text-decoration: underline;
}
.seccion-clientes p{
    font-family: arial, helvetica; 
    color: white;
    font-size:x-large;
    text-align: center;
}
 h4{
    color: white;
    font-size: large;
    font-family: arial, helvetica; 

 }

/*ENLACES PROVEEDORES, Y FOOTER*/
#enlace{

        color:black;
        background-color: rgba(255, 255, 0, 0.608);
        padding: 5px;
        margin: 5px;
        border: 1px solid black;
        font-family:impact;
        font-size: x-small;
      }
.provedores p{
    font-family: arial, helvetica; 
    color: white;
    font-size:x-large;
    text-align: center;
}

.provedores h4{
    color: white;
    font-size: large;
    font-family: arial, helvetica; 

 }
/*MEDIA QERY TABLET*/
@media screen and  (min-width: 600px ){
   
    .seccion-servicios .servicio1, .servicio2,.servicio3{
        width: 50%;  /*ancho y alto */
        height: 50%;
        border-radius:5%;
        margin: 10px 10px 10px 10px
        }

    .clientes img{
        width: 60%;
        height: 50%;
        border-radius:10%;
        flex-wrap: wrap;
         }
   
}
/*MEDIA QERY DESKTOP*/
@media screen and (min-width: 1024px) {
    .servicios{
        display: grid;
       grid-template-columns: repeat(3,1fr);
       grid-template-rows: repeat(2,auto);
       justify-content: center;
       align-items: center;
       
        
    }
    .seccion-servicios .servicio1, .servicio2,.servicio3{
        width: 100%;  /*ancho y alto */
        height: 100%;
        border-radius:10%;
        padding: 10px 10px 10px 10px;
        margin-bottom: 2rem;    
    }
    

    .clientes{
        display: grid;
        grid-template-columns: repeat(2,1fr);       
    }
    
    .clientes img{
        width: 100%;  /*ancho y alto */
        height: 100%;
        border-radius:10%;
        margin-bottom: 2rem;
    }



}